:root{
--primario:#FF0000;
--primario_oscuro:#E87400;
--secundario:#f0f0f0;
--secundario_oscuro:#1D3557;
--blanco:white;
--negro:black;


}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    
background: linear-gradient(45deg, rgb(191, 186, 186), red,rgb(157, 124, 124));
font-size:1.6rem;
line-height:1.5;

}
p{
    font-size: 1.8rem;
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
   
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin:0 auto;
}
h1,h2,h3{
    text-align: center;
    color:var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size:2.4rem;
}

.header{
    display: flex;
    justify-content: center;
   
   
}
.footer{
margin-top: 2rem;
padding: 1rem 0;
}
.footer__texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
text-align: center;

}
.header_logo{
    margin: 3rem 0;
    height:150px;
    width: 18.75rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.3);
    border-radius: 10px; /* Opcional, para bordes redondeados */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave */
   
}
.navegacion{
    background-color:var(--blanco);
    padding-inline: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primario);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--negro);
}
.grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 2rem;
    
    
}
@media(min-width:768px){
.grid{
    grid-template-columns:repeat(3,1fr);
}
}
.producto{
background-color: var(--blanco);
padding: 2rem;
text-align: center;
margin: 10px;
border-radius:0 3.125rem 4.6875rem 4.6875rem; /* Bordes altamente redondeados */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Agrega un efecto 3D */
}


.producto__nombre{
font-size: 4rem;
color: var(--negro);
}
.producto_precio{
    font-size:20px;
color: var(--negro);
}
.producto__nombre,
.producto__precio{
    font-family: Arial, Helvetica, sans-serif;
    margin: .75rem 0;
    line-height: 1.2;
}

.grafico{   
min-height:30rem;
background-repeat:no-repeat;
background-size: contain;
grid-column: 1 / 3;
margin: 10px;
}
.grafico--camisa{
        grid-row: 2 / 3;
        
    border: 10px solid white;
    background-image: url(../img/grafico1.jpg);
    background-size:cover;
   
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
    border: 10px solid var(--blanco);
    }
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
        }
@media(mind-with:768px){
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
        }
}

/* PAGINA NOSOTROS*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2,auto);

}

.nosotros__imagen{
    height: 100%;
    background-color: #050505;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid; /* Define el grosor del borde */
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet); /* Degradado inicial */
    border-image-slice: 1;
    animation: moveBorder 3s linear infinite; /* Llama a la animación */

}
@keyframes moveBorder {
    0% {
        border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    }
    100% {
        border-image-source: linear-gradient(405deg, violet, indigo, blue, green, yellow, orange, red);
    }
}

@media(min-width:768px){
    .nosotros{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        column-gap: 2rem;
    
    }
    
}

.nosotros__imagen{
    grid-row: 1/2;

}
@media(min-width:768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

.bloques{

    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 2rem;
}
@media(min-width:768px){
    .bloques{
        grid-template-columns:repeat(4,1fr);
    }
}
.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
}
.bloque__imagen{
    width: 50%;
}

/* PGINA PRODUCTO*/

.camisa{
display: grid;
grid-template-columns:repeat(2,1fr);
column-gap: 25px; 

}
.formulario{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 32px;
}
.formulario__campo{
border:1rem solid var(--primario_oscuro);
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
padding: 0.5rem;
}
.formulario__submit{
background-color: var(--secundario);
border: none;
font-size: 2rem;
font-family:Arial, Helvetica, sans-serif;
padding: 1rem;
transition:background-color .3s ease;
grid-column:1/3 ;

}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundario_oscuro);
}