[submodule "Store"]
	path = Store
	url = https://github.com/PedroCaaveiro/StoreDucati.git
[submodule "Festival"]
	path = Festival
	url = https://github.com/PedroCaaveiro/Festival.git
[submodule "blogcafe"]
	path = blogcafe
	url = https://github.com/PedroCaaveiro/BlogCafe.git
[submodule "reloj"]
	path = reloj
	url = https://github.com/PedroCaaveiro/Reloj.git
[submodule "The_Luxe_Collection"]
	path = The_Luxe_Collection
	url = https://github.com/PedroCaaveiro/The_Luxe_Collection.git
[submodule "AppSalon_php"]
	path = AppSalon_php
	url = https://github.com/PedroCaaveiro/AppSalon_php.git
