RewriteEngine On
RewriteBase /AppSalon_php/public/  # Este es el path base de tu aplicación
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
