$fuente_principal : "Monserrat", serif;
// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// media queries

$telefono:30rem;
$tablet: 48rem;
$desktop:75rem;
$desktopXL:90rem;