html {
    font-size: 62.5%;
}

:root {
    --blanco: rgb(249, 249, 249);
    --oscuro: black;
    --gris: gray;


}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gris);
    font-size: 16px;
    font-size: medium;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}


.header {
    color: var(--oscuro);
    font-size: 3rem;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #fffbfb, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #faf9f9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(230, 223, 223, 0.15);
}

.header {
    text-align: center;
}

.background {
    text-align: center;

    width: 100%;
    height: 200px;
    background-color: aqua;

}

.navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blanco);
    width: 100%;
    height: 3.125rem;
}

.navegacion a {
    text-decoration: none;
    color: rgb(90, 76, 76);


}

.navegacion a:hover {
    color: rgb(53, 9, 176);
}