html {
    font-size: 62.5%;
}

:root {
    --blanco: rgb(249, 249, 249);
    --oscuro: black;
    --gris: gray;


}

body {
    background-color: var(--gris);
    font-size: 16px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.header  {
    display: flex;
    flex-direction: column;
    text-align: center;
height:120px;
background-color: aqua;

}
.header nav{
    background-color: rgb(15, 154, 152);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: var(--blanco);
}
